<!-- Contact Content -->
<article class="post">

    <section class="post_content">
    
        <!-- Header -->
        <div class="post_header">
        
            <!-- Title -->
            <div class="post_title">Contato</div>
                           
        </div>
        
        <!-- Body -->
        <div class="post_body">

            <p>luiseduardo14[at]gmail.com</p>
            
            <!-- Contact Form -->
            <form id="contact" style="display:none">
                                                                                
                <input type="text" name="name" placeholder="Nome" class="contact_name" />
                <input type="text" name="email" placeholder="Email*" class="contact_email" /> 
                <input type="text" name="website" placeholder="Your Website" class="contact_website" />
                <textarea name="message" placeholder="Your Message*" class="contact_message"></textarea>
                <input type="submit" value="Submit" class="contact_button" />
                
            </form>
            
        </div>
    
    </section>
    
</article>