<!-- Contact Content -->
<article class="post">

    <section class="post_content">
    
        <!-- Header -->
        <div class="post_header">
        
            <!-- Title -->
            <div class="post_title">Contact</div>
                           
        </div>
        
        <!-- Body -->
        <div class="post_body">

            <p> Curabitur id lectus dictum, volutpat neque vel, lobortis orci. Mauris  pellentesque dictum libero, ac ultrices velit. Nullam vitae felis et  neque gravida mattis. Pellentesque ac dignissim nisl. Mauris in massa in  velit facilisis ornare. Fusce ut urna ut erat rutrum suscipit. Maecenas  eget luctus sem. </p>
            
            <!-- Contact Form -->
            <form id="contact">
                                                                                
                <input type="text" name="name" placeholder="Your Name*" class="contact_name" />
                <input type="text" name="email" placeholder="Your Email*" class="contact_email" /> 
                <input type="text" name="website" placeholder="Your Website" class="contact_website" />
                <textarea name="message" placeholder="Your Message*" class="contact_message"></textarea>
                <input type="submit" value="Submit" class="contact_button" />
                
            </form>
            
        </div>
    
    </section>
    
</article>