<!-- Post -->
<article class="post">
	
<!-- Post Media - Single Image -->
<section class="post_media" ng-if="article.type == 'image' || article.type == 'video'">

	<!-- Post Media Image -->
	<div ng-if="article.image" class="post_type" id="photo"></div>
	<img ng-if="article.image" ng-src="{{ article.image }}" alt="{{ article.title }}" />
	
</section>
			
<!-- Post Content - Text -->
<section class="post_content">

	<!-- Post Header -->
	<header class="post_header">
	
		<!-- Post Title -->
		<div class="post_title">{{ article.title }}</div>
		
		<!-- Post Header -->
		<div class="post_date">{{ fromNow(article.time) }}</div>
	
	</header>
	
	<!-- Post Body -->
	<div class="post_body" ng-bind-html="mdToHtml(article.content)"></div>
	
	<!-- Post Footer -->
        <footer class="post_footer">

            <div class="post_footer_left">

                <!-- User/Comment/Favorite Icons -->
                <div class="post_comment_icons">
                    <ul>
                        <li><a href="post_image.html" class="comment_icon" title="Comments"><i class="fa fa-comment"></i>0</a></li>
                        <li><a href="post_image.html" class="heart_icon" title="Favorites"><i class="fa fa-heart"></i>60</a></li>
                    </ul>
                </div>
            </div>

            <!-- Social Media Buttons -->
            <div class="post_social_media">
                <a href="javascript:;" class="share_facebook" title="Share on Facebook" ng-click="share()"><i class="fa fa-thumbs-up"></i>Share</a>
            </div>

        </footer>

</section>

</article>

<section id="related_posts" ng-if="related.length">

<div class="footer_header">Related Posts</div>

<div class="related_post_box" ng-repeat="article in related| limitTo:3">
	
	<div class="related_post_box_media">

		<a href="#!/post/{{ article.id }}">
			<div class="related_post_box_media_read_more">
				<img src="images/view_icon.png" alt="Ler mais" title="Ler mais" /><br> LER MAIS
			</div>
		</a>
		<img ng-src="{{ article.image || 'images/post_photo.jpg'}}" alt="{{ article.title }}">
	
	</div>
	<div class="related_post_box_content">
		<p><span class="dark_font_header"><a href="#">{{ article.title }}</a></span></p>
		<!-- TODO: subtitle <p></p>-->
	</div>
	
</div>

</section>